


    <div class="forgotPassword">
        <img src="/img/background/register.jpg" alt="register">
        <form id="forgotPasswordForm" method="put"> 
            <div class="formGroup">
                <input name="email" type="text" required>
                <span>Email *</span>
            </div>

            <div class="formGroup">
                <input name="beforePassword" type="text"  required>
                <span>Before Password *</span>
            </div>
           
            <div class="formGroup">
                <input name="afterPassword" type="text" required>
                <span>After Password *</span>
            </div>      

            <div class="btnGroup">
                <a href="/login">Do you have an account?</a>
                <button type="submit">Submit</button>
            </div>
       </form>



    
<script>
    const addForm = document.getElementById('forgotPasswordForm')
    
    
    


    addForm.addEventListener('submit', (e) => {
        e.preventDefault()
        const formData = new FormData(e.target)
        

        fetch('/forgotPassword', {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                console.log(response)
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(res => {
                if (res.success) {
                    window.location.href = '/login';
                } else {
                    console.error('Error:', res.message);
                }
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });

    })
</script>